*{
    padding: 0;
    margin: 0;
}

.navClass{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(13, 13, 62);
    color: white;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    height: 70vh;
    background-color: rgba(195, 190, 190, 0.753);
}

.heading > h1{
    margin-bottom: 2rem;
}

.heading > p{
    width: 40rem;
}

.difference{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:  flex-start;
    height: 20rem;
    padding-left: 2rem;
    background-color: rgba(195, 190, 190, 0.114);
}

.difference > h4{
    font-size: xx-large;
    margin-bottom: 2rem;
}


.difference > ul{
    margin-top: 1rem;
    margin-left: 4rem;
    display: flex;
    width: 90vw;
}

#liEnd{
    margin-left: 17rem;
}

.steps2{
    height:100vh;
    background-color: #bebdb8;
}

.steps1{
    height:70vh;
    background-color: #3e424b;
    color: white;
}

.sidebyside{
    display: flex;
    justify-content: space-between;

}

.imageClass{

    width: 50%;
    margin-right: 2.5rem;
}

.sidebyside > b{
    margin-left: 2rem;
    margin-top: 3rem;
    height: 40vh;
    width: 35%;
    border-radius: 5px;
    border: 5px solid lightgray;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    text-align: justify;
}

.centerText:hover > p{
    scale: 1.2;
}