*{
    padding: 0;
    margin: 0;
}

.navClass{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(13, 13, 62);
    color: white;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 70vh;
}

.heading > h1{
    margin-bottom: 2rem;
}